In [1]:
import pandas as pd
import numpy as np

In [2]:
df_1=pd.read_excel('D2_file1.xlsx')
df_2=pd.read_excel('D2_file2.xlsx')
df_3=pd.read_excel('D2_file3.xlsx')
df_4=pd.read_excel('D2_target.xlsx')

In [3]:
# Converting excel file into CSV file
df_1.to_csv ("df_1.csv", index = None, header=True)
# Reading and Converting the output csv file into a dataframe object
df_1 = pd.DataFrame(pd.read_csv("df_1.csv"))

# Converting excel file into CSV file
df_2.to_csv ("df_2.csv", index = None, header=True)
# Reading and Converting the output csv file into a dataframe object
df_2 = pd.DataFrame(pd.read_csv("df_2.csv"))

# Converting excel file into CSV file
df_3.to_csv ("df_3.csv", index = None, header=True)
# Reading and Converting the output csv file into a dataframe object
df_3 = pd.DataFrame(pd.read_csv("df_3.csv"))

# Converting excel file into CSV file
df_4.to_csv ("df_4.csv", index = None, header=True)
# Reading and Converting the output csv file into a dataframe object
df_4 = pd.DataFrame(pd.read_csv("df_4.csv"))

In [4]:
# Merge the datasets using the merge function
merged_df1 = pd.merge(df_1, df_2, on='id')
merged_df2 = pd.merge(df_3, df_4, on='id')

In [5]:
df = pd.merge(merged_df1, merged_df2, on='id')

In [6]:
df.isnull().sum()

id                      0
Engine                 80
Max Power              80
Max Torque             80
Drivetrain            136
Length                 64
Width                  64
Height                 64
Seating Capacity       64
Fuel Tank Capacity    113
Make                    0
Model                   0
Year                    0
Kilometer               0
Fuel Type               0
Transmission            0
Location                0
Color                   0
Owner                   0
Seller Type             0
Price                   0
dtype: int64

In [7]:
df=df.dropna()

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.preprocessing import LabelEncoder

#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Kilometer'] = lab.fit_transform(df['Kilometer'])

In [10]:
df["Engine"] = df["Engine"].str.strip(" cc").astype(float)

In [11]:
#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Engine'] = lab.fit_transform(df['Engine'])

In [12]:
df['Engine'].astype(float)

0       16.0
1       18.0
2       15.0
3       15.0
4       67.0
        ...
2053    15.0
2054    62.0
2055     4.0
2056    14.0
2057    54.0
Name: Engine, Length: 1874, dtype: float64

In [13]:
df.apply(LabelEncoder().fit_transform)

,id,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity,...,Model,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Price
0,0,16,290,5,1,48,21,65,2,4,...,92,12,680,5,1,56,7,0,1,106
1,1,18,268,70,1,53,27,83,2,9,...,731,9,617,2,1,40,14,1,2,92
2,2,15,279,11,1,9,10,82,2,4,...,940,6,559,5,1,39,8,0,2,19
3,3,15,283,14,1,53,43,66,2,5,...,453,14,288,5,1,41,12,0,2,196
4,4,67,73,150,2,160,81,161,4,19,...,503,13,578,2,1,45,7,0,2,366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,1869,15,288,16,1,26,21,103,2,10,...,641,9,639,5,1,20,14,1,2,25
2054,1870,62,61,146,1,120,108,158,4,36,...,914,11,692,2,1,66,14,0,2,209
2055,1871,4,234,242,1,4,7,62,2,3,...,379,9,663,5,1,1,14,1,2,33
2056,1872,14,262,1,1,29,21,15,2,12,...,418,8,608,5,1,67,13,0,2,24
2057,1873,54,137,182,2,195,100,47,2,30,...,9,13,508,2,0,12,14,0,2,487

In [14]:
#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Max Power'] = lab.fit_transform(df['Max Power'])

In [15]:
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Seller Type'] = lab.fit_transform(df['Seller Type'])

In [16]:
#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Max Torque'] = lab.fit_transform(df['Max Torque'])

In [17]:
#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Drivetrain'] = lab.fit_transform(df['Drivetrain'])

In [18]:
#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Make'] = lab.fit_transform(df['Make'])

In [19]:
#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Model'] = lab.fit_transform(df['Model'])#create instance of label encoder
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Fuel Type'] = lab.fit_transform(df['Fuel Type'])

In [20]:
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Color'] = lab.fit_transform(df['Color'])

In [21]:
df=df.drop('Transmission',axis=1)

In [22]:
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Location'] = lab.fit_transform(df['Location'])

In [23]:
lab = LabelEncoder()

#perform label encoding on 'team' column
df['Owner'] = lab.fit_transform(df['Owner'])

In [24]:
class Node:
    def __init__(self, feature=None, threshold=None, left=None, right=None, value=None):
        self.feature = feature
        self.threshold = threshold
        self.left = left
        self.right = right
        self.value = value

In [25]:
class DecisionTreeRegressor:
    def __init__(self, max_depth=None):
        self.max_depth = max_depth
        
    def mse(self, y):
        return np.mean((y - np.mean(y)) ** 2)
    
    def split(self, X, y, idx, split_val):
        left_idx = np.argwhere(X[:, idx] <= split_val).flatten()
        right_idx = np.argwhere(X[:, idx] > split_val).flatten()
        
        if len(left_idx) == 0 or len(right_idx) == 0:
            return None, None
        
        left_X, left_y = X[left_idx], y[left_idx]
        right_X, right_y = X[right_idx], y[right_idx]
        
        left_mse, right_mse = self.mse(left_y), self.mse(right_y)
        return left_X, left_y, right_X, right_y, left_mse + right_mse
    
    def find_best_split(self, X, y):
        best_idx, best_val, best_mse = None, None, np.inf
        
        for idx in range(X.shape[1]):
            for val in np.unique(X[:, idx]):
                left_X, left_y, right_X, right_y, mse = self.split(X, y, idx, val)
                if mse is not None and mse < best_mse:
                    best_idx, best_val, best_mse = idx, val, mse
        
        return best_idx, best_val, best_mse
    
    def fit(self, X, y, depth=0):
        if self.max_depth is not None and depth >= self.max_depth:
            self.left, self.right = None, None
            self.prediction = np.mean(y)
            return
        
        idx, val, mse = self.find_best_split(X, y)
        if idx is None:
            self.left, self.right = None, None
            self.prediction = np.mean(y)
            return
        
        left_X, left_y, right_X, right_y, _ = self.split(X, y, idx, val)
        self.feature_idx = idx
        self.split_val = val
        self.left = DecisionTreeRegressor(max_depth=self.max_depth)
        self.right = DecisionTreeRegressor(max_depth=self.max_depth)
        self.left.fit(left_X, left_y, depth=depth+1)
        self.right.fit(right_X, right_y, depth=depth+1)
    
    def predict(self, X):
        if self.left is None and self.right is None:
            return self.prediction
        
        if X[self.feature_idx] <= self.split_val:
            return self.left.predict(X)
        else:
            return self.right.predict(X)

In [26]:
class RandomForestRegressor:
    def __init__(self, n_estimators=100, max_depth=None, min_samples_split=2):
        self.n_estimators = n_estimators
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.trees = []

    def fit(self, X, y):
        for i in range(self.n_estimators):
            tree = DecisionTreeRegressor(max_depth=self.max_depth, min_samples_split=self.min_samples_split)
            tree.fit(X, y)
            self.trees.append(tree)

    def predict(self, X):
        predictions = []
        for tree in self.trees:
            predictions.append(tree.predict(X))
        return np.mean(predictions, axis=0)

In [27]:
X=df.drop('Price',axis=1)
y=df['Price']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
from sklearn.tree import DecisionTreeRegressor

In [31]:
rf = RandomForestRegressor()

In [32]:
rf.fit(X_train, y_train)

In [33]:
from sklearn.metrics import mean_squared_error, r2_score

y_pred = rf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("MSE: ", mse)
print("R-squared: ", r2)

MSE:  3502368304723.1094
R-squared:  0.7008208349430618